 h2 {
  text-align: center;
  padding: 40px 0;
}

 [class*=col-] {
  border: none;
}

.debug .container {
  height: auto;
}


/* typo */

.box {
  height: 100%;
  text-align: center;
  padding: 20px;
}
.box img {
  height: 180px;
}

.box h3 {
  margin: 10px 0;
}
