 h2 {
  text-align: center;
  padding: 100px 0;
}

 /* .debug [class*=col-] {
  border: none;
} */

.debug .container {
  height: auto;
}



.color {
  background-color: #F9F9F9;
}
.row [class*=col-] {
  background-color: #F9F9F9;
}
.box {
  height: 100%;
  text-align: center;
  padding: 20px;
}
.box img {
  height: 180px;
}

.box h3 {
  margin: 10px 0;
}

hr {
  margin: 8px 0
}

.box p {
  padding: 10px 0;
}

.image img {
  background-color: blue;
  padding: 20px;
}

.col-12 > h2 {
  background-color: #fff;
}
